<section class="parent-container">

<section class="left-col">
    <h1 class="left-col" id="main-headline">Launching the New React/Redux Curriculum</h1>
        <div class="author">By APP ACADEMY INSTRUCTIONAL TEAM</div>
        <ul class="left-col">
            <li class="left-col">It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
            <li class="left-col">The whole state of your app is stored in an object tree inside a single store.
            The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li>
        </ul>
        <div class="comments">1738 Comments</div>
</section>


<section class="mid-col">
    <p class="mid-col">Warning: This video will make you want to change your career</p>
        <div class="title mid-col">Where Are They Now?</div>
            <div class="author mid-col">By APP ACADEMY INSTRUCTIONAL TEAM</div>
    <p class="copy mid-col">First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
        <div class="title mid-col">Cat Academy</div>
            <div class="author mid-col">By APP ACADEMY DIRECTOR OF PRODUCTS</div>
    <p class="copy mid-col">App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
</section>


<section class="right-col">
    <header class="title right-col">The Opinion Pages</header>
</section>

<section class="right-col-1">
    <p class="head-title right-col-1">Op-Ed Contributor</p>
    <div class="title right-col-1">Will Javascript ever be as easy as Ruby?</div>
    <p class="right-col-1">Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
        <ul class="right-col-1">
            <li>Torvalds: When I Was Almost Wrong</li>
            <li>Knuth: Art of Programming</li>
            <li>Lovelace: The First Algorithm</li>
            <li>Hopper: The First Bug</li>
            <li>Thompson: Go C Unix</li>
            <li>Carmack: My Virtual Reality</li>
            <li>Stallman: Free Speech Not Free Coffee</li>
        </ul>
</section>

<section class="right-col-2">
    <p class="head-title right-col-2">Operations</p>
    <div class="title right-col-2">App Academy New York Has A Brand New Office</div>
    <div class="author mid-col-2">By NY OPERATIONS</div>
    <p class="right-col-2">The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
    <p class="title right-col-2">Opinion Today, in your Inbox</p>
    <p class="right-col-2">Each weekday, get though-provoking commentary from our columnists and contributors.</p>

</section>


</section>

<!--    


Sign Up

We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.
        
-->